AI CITI карусели v3.json
{
  "name": "AI CITI карусели v3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/{{ $('🔑 Config').first().json._config.TG_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ $json.chatId }}, \"text\": \"❌ Ошибка генерации:\\n{{ $json.error || 'Неизвестная ошибка' }}\"}",
        "options": {}
      },
      "id": "64f19a76-18b8-44d4-b5ba-390f89071a8a",
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10640,
        2320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Config').first().json._config.OPENROUTER_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => {\nconst body = $json.body || $json;\nconst topic = body.topic || 'Тестовая тема';\nconst cta = body.cta || 'МАГИЯ';\nconst gender = body.gender || 'male';\n\n// ГЛОБАЛЬНЫЙ системный промпт (один на все стили)\nconst globalSystemPrompt = body.globalSystemPrompt || '';\n\n// ВИЗУАЛЬНЫЙ стиль (индивидуальный для каждого стиля)\nconst stylePrompt = body.stylePrompt || (body.styleConfig && body.styleConfig.style_prompt) || '';\n\n// СОБИРАЕМ ПРОМПТ ДЛЯ КОПИРАЙТЕРА\nlet fullPrompt = '';\n\n// 1. Глобальный системный промпт из админки (для генерации текста)\nif (globalSystemPrompt && globalSystemPrompt.trim()) {\n  fullPrompt += globalSystemPrompt;\n  fullPrompt += '\\n\\n';\n}\n\n// 2. Добавляем задание\nfullPrompt += '---\\n\\n';\nfullPrompt += '## ЗАДАНИЕ НА ГЕНЕРАЦИЮ\\n\\n';\nfullPrompt += 'ТЕМА: ' + topic + '\\n';\nfullPrompt += 'CTA КОД: ' + cta + '\\n';\nfullPrompt += 'ПОЛ АВТОРА: ' + (gender === 'female' ? 'ЖЕНСКИЙ' : 'МУЖСКОЙ') + '\\n\\n';\n\n// 3. Добавляем stylePrompt (визуальный стиль) который нужно использовать в visual_task\nif (stylePrompt && stylePrompt.trim()) {\n  fullPrompt += '---\\n\\n';\n  fullPrompt += '## DESIGN_PROMPT (ВИЗУАЛЬНЫЙ СТИЛЬ для visual_task)\\n\\n';\n  fullPrompt += stylePrompt + '\\n\\n';\n  fullPrompt += 'ВАЖНО: Используй этот визуальный стиль во ВСЕХ visual_task!\\n\\n';\n}\n\n// 4. Формат ответа\nfullPrompt += '---\\n\\n';\nfullPrompt += '## ФОРМАТ ОТВЕТА\\n\\n';\nfullPrompt += 'ОТВЕТЬ ТОЛЬКО ВАЛИДНЫМ JSON без markdown:\\n';\nfullPrompt += '{\\n';\nfullPrompt += '  \"topic\": \"...\",\\n';\nfullPrompt += '  \"product\": \"' + cta + '\",\\n';\nfullPrompt += '  \"post_text\": \"...\",\\n';\nfullPrompt += '  \"slides\": [\\n';\nfullPrompt += '    {\\n';\nfullPrompt += '      \"id\": 1,\\n';\nfullPrompt += '      \"template\": \"HOOK\",\\n';\nfullPrompt += '      \"human_mode\": \"FACE\",\\n';\nfullPrompt += '      \"visual_task\": \"Instagram carousel slide 3:4 (1024x1365). [ПОЛНОЕ ОПИСАНИЕ ВИЗУАЛА НА АНГЛИЙСКОМ С УЧЁТОМ DESIGN_PROMPT]\",\\n';\nfullPrompt += '      \"content\": [\"Заголовок\", \"Подзаголовок\"]\\n';\nfullPrompt += '    },\\n';\nfullPrompt += '    ... ещё 8 слайдов ...\\n';\nfullPrompt += '  ]\\n';\nfullPrompt += '}\\n';\n\nreturn {\n  model: 'google/gemini-2.5-pro-preview',\n  messages: [{ role: 'user', content: fullPrompt }],\n  temperature: 0.9,\n  max_tokens: 16000\n};\n})()) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "a61bf906-cee4-464e-a8f2-e4b56363feba",
      "name": "Copywriter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10864,
        2736
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carousel-v2",
        "options": {}
      },
      "id": "644b5a4c-ae87-4c0e-9690-770e683b140b",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        10640,
        2640
      ],
      "webhookId": "carousel-v2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/{{ $('🔑 Config').first().json._config.TG_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.body?.chatId || $json.chatId, text: 'Копирайтер пишет промт для карусели...\\n📝 60 сек: ⏳\\n📊 Слайдов: 9\\n\\n🔍 Состав промта:\\nglobalSystemPrompt: ' + (($json.body?.globalSystemPrompt || '').length || 0) + ' символов\\nstylePrompt: ' + (($json.body?.stylePrompt || $json.body?.styleConfig?.style_prompt || '').length || 0) + ' символов' }) }}",
        "options": {}
      },
      "id": "691edc93-3d0c-45a6-be93-9f0630664433",
      "name": "Send Start Immediate1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10864,
        2544
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook1').item.json;\nconst body = webhookData.body || webhookData;\nconst aiResponse = $json;\n\nlet carousel = {};\ntry {\n  let text = '';\n  if (aiResponse.choices && aiResponse.choices[0] && aiResponse.choices[0].message) {\n    const content = aiResponse.choices[0].message.content;\n    text = typeof content === 'string' ? content : (content && content[0] && content[0].text ? content[0].text : '');\n  } else if (aiResponse.candidates && aiResponse.candidates[0]) {\n    text = aiResponse.candidates[0].content.parts[0].text;\n  }\n\n  text = (text || '').trim();\n  var cb = String.fromCharCode(96);\n  if (text.indexOf(cb + cb + cb + 'json') >= 0) text = text.split(cb + cb + cb + 'json').pop();\n  if (text.indexOf(cb + cb + cb) >= 0) text = text.split(cb + cb + cb)[0];\n  text = text.trim();\n\n  // === FIX: Sanitize control characters inside JSON string values ===\n  // Replace literal newlines/tabs inside string values with safe alternatives\n  // This regex-free approach: fix known problematic chars char by char\n  let sanitized = '';\n  let inString = false;\n  let escaped = false;\n  for (let ci = 0; ci < text.length; ci++) {\n    const ch = text[ci];\n    if (escaped) {\n      sanitized += ch;\n      escaped = false;\n      continue;\n    }\n    if (ch === '\\\\') {\n      sanitized += ch;\n      escaped = true;\n      continue;\n    }\n    if (ch === '\"') {\n      inString = !inString;\n      sanitized += ch;\n      continue;\n    }\n    if (inString) {\n      const code = ch.charCodeAt(0);\n      if (code < 32) {\n        // Control character inside string — escape it\n        if (ch === '\\n') sanitized += '\\\\n';\n        else if (ch === '\\r') sanitized += '\\\\r';\n        else if (ch === '\\t') sanitized += '\\\\t';\n        else sanitized += ' ';\n        continue;\n      }\n    }\n    sanitized += ch;\n  }\n\n  carousel = JSON.parse(sanitized);\n\n  if (carousel.slides && Array.isArray(carousel.slides)) {\n    carousel.slides = carousel.slides.map(function(s) {\n      var c = s.content;\n      if (Array.isArray(c) && c.length > 0 && typeof c[0] === 'object' && c[0].value !== undefined) {\n        c = c.map(function(x) { return x.value || x; });\n      }\n      if (!Array.isArray(c)) c = [];\n      return { id: s.id, template: s.template, human_mode: s.human_mode || 'NONE', visual_task: s.visual_task || '', content: c };\n    });\n  }\n} catch (e) {\n  carousel = {\n    topic: body.topic || 'Тема',\n    product: body.cta || 'МАГИЯ',\n    post_text: 'Листай карусель',\n    slides: [{\n      id: 1,\n      template: 'HOOK_PERSON',\n      human_mode: 'FACE',\n      visual_task: 'Instagram slide. White background. Person in center.',\n      content: ['Тест', 'Листай']\n    }]\n  };\n}\n\nreturn {\n  json: {\n    chatId: body.chatId,\n    topic: carousel.topic || body.topic,\n    product: carousel.product || body.cta,\n    post_text: carousel.post_text,\n    slides: carousel.slides || [],\n    totalSlides: (carousel.slides || []).length,\n    userPhoto: body.userPhoto,\n    stylePrompt: body.stylePrompt || (body.styleConfig && body.styleConfig.style_prompt) || '',\n    copywriterSuccess: true\n  }\n};\n"
      },
      "id": "256eefe2-c154-444b-97ea-89413a081d4b",
      "name": "Parse Copywriter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11088,
        2736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/{{ $('🔑 Config').first().json._config.TG_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ $json.chatId }}, \"text\": \"🎨 Генерирую карусель...\\n📝 Копирайтер: ✅\\n📊 Слайдов: {{ $json.totalSlides }}\\n⏳ ~{{ $json.totalSlides * 15 }} сек\"}",
        "options": {}
      },
      "id": "642716fa-cecf-4fa9-837a-269423d75ad8",
      "name": "Send Start1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11312,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseData = $('Parse Copywriter1').first().json;\nconst webhookData = $('Webhook1').first().json.body;\nconst slides = parseData.slides || [];\n\nreturn slides.map(slide => ({\n  json: {\n    slideId: slide.id,\n    template: slide.template,\n    humanMode: slide.human_mode,\n    visualTask: slide.visual_task,\n    content: slide.content,\n    userPhoto: webhookData.userPhoto,\n    chatId: webhookData.chatId,\n    stylePrompt: parseData.stylePrompt || ''\n  }\n}));"
      },
      "id": "fe93fb90-a47b-41ca-9109-50524238d98a",
      "name": "Split Slides1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11536,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const slides = $('Split Slides1').all();\nconst parseData = $('Parse Copywriter1').first().json;\nconst results = [];\n\nlet userPhoto = slides[0]?.json?.userPhoto || '';\n\nif (userPhoto && userPhoto.includes('cloudinary.com')) {\n  userPhoto = userPhoto.replace('/upload/', '/upload/f_jpg,q_auto,w_768/');\n}\n\nlet photoBase64 = null;\nif (userPhoto) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: userPhoto,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    photoBase64 = Buffer.from(response.body).toString('base64');\n  } catch (e) {\n    console.error('Error fetching image:', e.message);\n  }\n}\n\n// stylePrompt для дополнительных инструкций\nconst stylePrompt = slides[0]?.json?.stylePrompt || '';\n\nconst faceSuffix = ' [INSTRUCTION: Person must be clearly visible from chest up. Use reference image for character appearance. All visible text on slide must be in Russian language.]';\n\nfor (let i = 0; i < slides.length; i++) {\n  const slide = slides[i].json;\n  const chatId = slide.chatId;\n\n  // visual_task уже содержит описание стиля от Copywriter\n  let visualTask = slide.visualTask;\n  \n  // Добавляем инструкцию про русский текст\n  visualTask += ' [INSTRUCTION: All text shown on the image must be in Russian/Cyrillic only. Do NOT render any English text on the slide.]';\n\n  const messageContent = [];\n\n  if (slide.humanMode === 'FACE' && photoBase64) {\n    messageContent.push({\n      type: 'image_url',\n      image_url: { url: 'data:image/jpeg;base64,' + photoBase64 }\n    });\n    messageContent.push({ type: 'text', text: visualTask + faceSuffix });\n  } else {\n    messageContent.push({ type: 'text', text: visualTask });\n  }\n\n  const requestBody = {\n    model: 'google/gemini-3-pro-image-preview',\n    modalities: ['image', 'text'],\n    messages: [{\n      role: 'user',\n      content: messageContent\n    }],\n    image_config: {\n      aspect_ratio: '4:5',\n      image_size: '1K'\n    },\n    max_tokens: 4096\n  };\n\n  results.push({\n    json: {\n      chatId,\n      topic: parseData.topic,\n      slideId: slide.slideId,\n      template: slide.template,\n      totalSlides: parseData.totalSlides,\n      requestBody\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "cb6edac6-262e-49bc-8037-aa8289a2b56a",
      "name": "Prepare Prompt1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11760,
        2736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Config').first().json._config.OPENROUTER_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "1e13bfb1-6712-4f06-bb14-6b23a27f23f8",
      "name": "Gemini Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11984,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const geminiItems = $('Gemini Image1').all();\nconst promptItems = $('Prepare Prompt1').all();\nconst results = [];\n\nfor (let i = 0; i < geminiItems.length; i++) {\n  const response = geminiItems[i].json;\n  const prev = promptItems[i].json;\n\n  let imageBase64 = null;\n\n  try {\n    if (response.choices && response.choices[0] && response.choices[0].message) {\n      const msg = response.choices[0].message;\n      if (msg.images && msg.images[0] && msg.images[0].image_url && msg.images[0].image_url.url) {\n        const imageUrl = msg.images[0].image_url.url;\n        if (imageUrl.startsWith('data:image/')) {\n          imageBase64 = imageUrl.replace(/^data:image\\/\\w+;base64,/, '');\n        }\n      }\n      if (!imageBase64 && Array.isArray(msg.content)) {\n        for (const part of msg.content) {\n          if (part.image_url && part.image_url.url && part.image_url.url.startsWith('data:image/')) {\n            imageBase64 = part.image_url.url.replace(/^data:image\\/\\w+;base64,/, '');\n            break;\n          }\n        }\n      }\n    }\n    if (!imageBase64 && response.candidates && response.candidates[0]) {\n      const parts = response.candidates[0].content.parts;\n      for (const part of parts) {\n        if (part.inlineData && part.inlineData.data) {\n          imageBase64 = part.inlineData.data;\n          break;\n        }\n      }\n    }\n  } catch (e) {\n    console.error('Error extracting image:', e.message);\n  }\n\n  if (imageBase64) {\n    results.push({\n      json: {\n        chatId: prev.chatId,\n        topic: prev.topic,\n        slideId: prev.slideId,\n        template: prev.template,\n        totalSlides: prev.totalSlides,\n        imageBase64,\n        hasImage: true\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "07a971d4-f7ab-467a-9ec0-e2a18be192e6",
      "name": "Extract Image1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12208,
        2736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/ds8ylsl2x/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ 'data:image/png;base64,' + $json.imageBase64 }}"
            },
            {
              "name": "upload_preset",
              "value": "carousel_unsigned"
            },
            {
              "name": "folder",
              "value": "user_carousels"
            }
          ]
        },
        "options": {}
      },
      "id": "3a6781f6-b332-49f5-9789-a0b37c83a123",
      "name": "Cloudinary Upload1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12432,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const cloudinaryItems = $('Cloudinary Upload1').all();\nconst extractItems = $('Extract Image1').all();\n\nconst imageUrls = [];\nconst publicIds = [];\nlet chatId = null;\nlet topic = null;\n\nfor (let i = 0; i < cloudinaryItems.length; i++) {\n  const cloudinary = cloudinaryItems[i].json;\n  const extract = extractItems[i].json;\n  \n  if (!chatId) chatId = extract.chatId;\n  if (!topic) topic = extract.topic;\n  \n  if (cloudinary.secure_url) {\n    imageUrls.push(cloudinary.secure_url);\n  }\n  if (cloudinary.public_id) {\n    publicIds.push(cloudinary.public_id);\n  }\n}\n\nreturn [{\n  json: {\n    chatId,\n    topic,\n    imageUrls,\n    publicIds,\n    totalSlides: imageUrls.length\n  }\n}];"
      },
      "id": "f1fb6d45-245d-434e-ad0b-160c58e068c3",
      "name": "Collect URLs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12656,
        2736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/{{ $('🔑 Config').first().json._config.TG_BOT_TOKEN }}/sendMediaGroup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"media\": {{ JSON.stringify($json.imageUrls.map((url, i) => ({ type: \"photo\", media: url }))) }}\n}",
        "options": {}
      },
      "id": "e911c19b-2e59-4a53-84ec-50dd39a1753c",
      "name": "Send Photo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12880,
        2736
      ]
    },
    {
      "parameters": {
        "jsCode": "const collectData = $('Collect URLs1').first().json;\nconst publicIds = collectData.publicIds || [];\n\nif (publicIds.length === 0) {\n  return [{ json: { deleted: 0, message: 'No images to delete' } }];\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: 'https://api.cloudinary.com/v1_1/ds8ylsl2x/resources/image/upload',\n    auth: {\n      username: '329318552456676',\n      password: '1W-H9NYn1vOxwshd7S6iug3JcWk'\n    },\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded'\n    },\n    body: 'prefix=user_carousels/'\n  });\n  \n  const deletedCount = response.deleted ? Object.keys(response.deleted).length : 0;\n  \n  return [{\n    json: {\n      deleted: deletedCount,\n      response\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      deleted: 0,\n      error: error.message,\n      publicIds\n    }\n  }];\n}\n"
      },
      "id": "c7ca88d8-f8c7-4036-864f-84b3182bc857",
      "name": "Cleanup Cloudinary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13104,
        2736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/{{ $('🔑 Config').first().json._config.TG_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ $json.chatId }}, \"text\": \"❌ Ошибка генерации:\\n{{ $json.error || 'Неизвестная ошибка' }}\"}",
        "options": {}
      },
      "id": "57d5a7dd-c237-4ae5-9cf4-11295e225d50",
      "name": "Send Error1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10640,
        2960
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🔑 Config — все секреты AI CITI\nconst CONFIG = {\n  TG_BOT_TOKEN: 'bot8265353203:AAFTK0IbDcfn9laPc5h6lQ32o4rYZ3iFjq4',\n  OPENROUTER_KEY: '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'\n};\n\nconst input = $input.first().json;\nreturn [{ json: { ...input, _config: CONFIG } }];"
      },
      "id": "config-aiciti-001",
      "name": "🔑 Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10848,
        2640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Copywriter": {
      "main": [
        [
          {
            "node": "Parse Copywriter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "🔑 Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Copywriter1": {
      "main": [
        [
          {
            "node": "Send Start1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Start1": {
      "main": [
        [
          {
            "node": "Split Slides1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Slides1": {
      "main": [
        [
          {
            "node": "Prepare Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt1": {
      "main": [
        [
          {
            "node": "Gemini Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Image1": {
      "main": [
        [
          {
            "node": "Extract Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image1": {
      "main": [
        [
          {
            "node": "Cloudinary Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Upload1": {
      "main": [
        [
          {
            "node": "Collect URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect URLs1": {
      "main": [
        [
          {
            "node": "Send Photo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo1": {
      "main": [
        [
          {
            "node": "Cleanup Cloudinary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Config": {
      "main": [
        [
          {
            "node": "Send Start Immediate1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "5xeeTKBqJ6BN14eo"
  },
  "versionId": "8088b7df-6815-426b-9ba1-2817378119cc",
  "meta": {
    "instanceId": "692575977e9e9cbb43de74ac0d77623e7efcfa8cb1ba1902535c9e3508412d04"
  },
  "id": "RgapTTGAu6acuaGc",
  "tags": []
}